Repository likeandscribe/frontpage, pull requests merged in 2024-10, with the labels that each got.

#177 add auto labeller to pr requests for docs/frontpage/browser/drainpipe
  .github/labeler.yml
  .github/workflows/pr.yml
  packages/frontpage/README.md
Labels: documentation, frontpage

#175 fix: correct url search param type to be a string
  packages/atproto-browser/app/at/_lib/collection.tsx
  packages/atproto-browser/app/consts.tsx
Labels: atproto-browser

#174 fix: adds a bg-accent to selected theme choice
  packages/frontpage/app/(app)/_components/theme-toggle.tsx
Labels: frontpage

#188 updated readme
  packages/frontpage/local-infra/README.md
Labels: documentation, frontpage
