Repository likeandscribe/frontpage, pull requests merged in 2024-11, with the labels that each got.

#190 Detect AT URI from http and html alternate links
  packages/atproto-browser/app/actions.ts
  packages/atproto-browser/app/at/route.ts
  packages/atproto-browser/app/aturi-form.tsx
  packages/atproto-browser/lib/navigation.ts
  packages/atproto-browser/package.json
  pnpm-lock.yaml
Labels: atproto-browser

#191 Notifications schema changes
  packages/frontpage/drizzle/0004_illegal_boomerang.sql
  packages/frontpage/drizzle/meta/0004_snapshot.json
  packages/frontpage/drizzle/meta/_journal.json
  packages/frontpage/lib/schema.ts
Labels: frontpage

#193 Add about and community guidelines
  packages/frontpage/app/(app)/about/page.tsx
  packages/frontpage/app/(app)/layout.tsx
Labels: frontpage

#192 Notifications
  packages/frontpage/app/(app)/_components/notification-indicator-client.tsx
  packages/frontpage/app/(app)/_components/notification-indicator-shared.ts
  packages/frontpage/app/(app)/_components/notification-indicator.tsx
  packages/frontpage/app/(app)/_components/post-list.tsx
  packages/frontpage/app/(app)/_components/theme-toggle.tsx
  packages/frontpage/app/(app)/actions.tsx
  packages/frontpage/app/(app)/layout.tsx
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(app)/notifications/_lib/actions.ts
  packages/frontpage/app/(app)/notifications/_lib/constants.ts
  packages/frontpage/app/(app)/notifications/_lib/mark-as-read-button.tsx
  packages/frontpage/app/(app)/notifications/_lib/notification-link.tsx
  packages/frontpage/app/(app)/notifications/_lib/read-state.tsx
  packages/frontpage/app/(app)/notifications/page.tsx
  packages/frontpage/app/(app)/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/layout.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/page.tsx
  packages/frontpage/app/(app)/profile/[user]/page.tsx
  packages/frontpage/app/api/notification-count/route.ts
  packages/frontpage/app/api/notification-read/route.ts
  packages/frontpage/app/api/receive_hook/route.ts
  packages/frontpage/drizzle.config.ts
  packages/frontpage/lib/data/atproto/comment.ts
  packages/frontpage/lib/data/atproto/record.ts
  packages/frontpage/lib/data/atproto/uri.ts
  packages/frontpage/lib/data/atproto/vote.ts
  packages/frontpage/lib/data/db/comment.ts
  packages/frontpage/lib/data/db/notification.ts
  packages/frontpage/lib/data/db/vote.ts
  packages/frontpage/lib/infinite-list.tsx
  packages/frontpage/lib/navigation.ts
  packages/frontpage/lib/utils.ts
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

#196 Support prefilling new post params from URL
  packages/frontpage/app/(app)/post/new/_client.tsx
  packages/frontpage/app/(app)/post/new/page.tsx
Labels: frontpage

#198 changed cursor to pointer on theme options
  packages/frontpage/lib/components/ui/dropdown-menu.tsx
Labels: frontpage

#200 Post options cursor pointer
  packages/frontpage/lib/components/ui/dropdown-menu.tsx
Labels: frontpage

#201 Smaller avatar images
  packages/frontpage/lib/components/user-avatar.tsx
Labels: frontpage

#205 Allow replying to yourself
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
Labels: frontpage

#208 Migrate drainpipe to jetstream
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  packages-rs/drainpipe-cli/Cargo.toml
  packages-rs/drainpipe-cli/README.md
  packages-rs/drainpipe-cli/src/main.rs
  packages-rs/drainpipe-store/Cargo.toml
  packages-rs/drainpipe-store/src/lib.rs
  packages-rs/drainpipe/.env
  packages-rs/drainpipe/.gitignore
  packages-rs/drainpipe/Cargo.toml
  packages-rs/drainpipe/Dockerfile
  packages-rs/drainpipe/README.md
  packages-rs/drainpipe/diesel.toml
  packages-rs/drainpipe/fly.toml
  packages-rs/drainpipe/migrations/.keep
  packages-rs/drainpipe/migrations/2024-06-12-232142_create_db/down.sql
  packages-rs/drainpipe/migrations/2024-06-12-232142_create_db/up.sql
  packages-rs/drainpipe/migrations/2024-06-19-154133_save_source_msg_to_dlq/down.sql
  packages-rs/drainpipe/migrations/2024-06-19-154133_save_source_msg_to_dlq/up.sql
  packages-rs/drainpipe/src/config.rs
  packages-rs/drainpipe/src/db.rs
  packages-rs/drainpipe/src/firehose.rs
  packages-rs/drainpipe/src/jetstream.rs
  packages-rs/drainpipe/src/jetstream/error.rs
  packages-rs/drainpipe/src/jetstream/event.rs
  packages-rs/drainpipe/src/main.rs
  packages-rs/drainpipe/src/schema.rs
  packages-rs/drainpipe/zstd_dictionary
  packages/frontpage/lib/data/atproto/event.ts
  packages/frontpage/local-infra/Caddyfile
  packages/frontpage/local-infra/docker-compose.yml
Labels: documentation, frontpage, drainpipe

#212 Upgrade atproto-browser to next 15 stable
  packages/atproto-browser/app/at/[identifier]/[collection]/[rkey]/page.tsx
  packages/atproto-browser/app/at/[identifier]/[collection]/layout.tsx
  packages/atproto-browser/app/at/[identifier]/[collection]/page.tsx
  packages/atproto-browser/app/at/[identifier]/page.tsx
  packages/atproto-browser/app/blob/[identifier]/[cid]/page.tsx
  packages/atproto-browser/package.json
  pnpm-lock.yaml
Labels: atproto-browser
