Repository likeandscribe/frontpage, pull requests merged in 2025-04, with the labels that each got.

#227 Optimistic updates database changes
  packages/frontpage/drizzle/0005_slimy_unus.sql
  packages/frontpage/drizzle/0006_thankful_namorita.sql
  packages/frontpage/drizzle/meta/0005_snapshot.json
  packages/frontpage/drizzle/meta/0006_snapshot.json
  packages/frontpage/drizzle/meta/_journal.json
  packages/frontpage/lib/schema.ts
Labels: frontpage

#210 Feat: Optimistic writes
  packages/frontpage/app/(app)/_components/post-card.tsx
  packages/frontpage/app/(app)/_components/vote-button.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/_lib/page-data.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/og-image/route.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/actions.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/layout.tsx
  packages/frontpage/app/(app)/post/new/_action.ts
  packages/frontpage/app/api/receive_hook/handlers.ts
  packages/frontpage/app/api/receive_hook/route.ts
  packages/frontpage/lib/api/comment.ts
  packages/frontpage/lib/api/post.ts
  packages/frontpage/lib/api/vote.ts
  packages/frontpage/lib/data/atproto/comment.ts
  packages/frontpage/lib/data/atproto/event.ts
  packages/frontpage/lib/data/atproto/post.ts
  packages/frontpage/lib/data/atproto/record.ts
  packages/frontpage/lib/data/atproto/vote.ts
  packages/frontpage/lib/data/db/comment.ts
  packages/frontpage/lib/data/db/notification.ts
  packages/frontpage/lib/data/db/post.ts
  packages/frontpage/lib/data/db/vote.ts
  packages/frontpage/lib/utils.ts
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

#228 New frontpage blog
  packages/frontpage/app/blog/[slug]/markdown.tsx
  packages/frontpage/app/blog/[slug]/page.tsx
  packages/frontpage/app/blog/_components.tsx
  packages/frontpage/app/blog/blog-data.ts
  packages/frontpage/app/blog/layout.tsx
  packages/frontpage/app/blog/page.tsx
  packages/frontpage/lib/components/time-ago.tsx
  packages/frontpage/lib/components/ui/badge.tsx
  packages/frontpage/lib/data/atproto/did.ts
  packages/frontpage/package.json
  packages/unravel/app/blog/[slug]/page.tsx
  packages/unravel/app/blog/[slug]/route.ts
  packages/unravel/app/blog/blog-data.ts
  packages/unravel/app/blog/page.tsx
  packages/unravel/app/blog/route.ts
  packages/unravel/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontpage

#229 Use pnpm catalogs to lock typescript version
  .vscode/settings.json
  package.json
  packages/atproto-browser/package.json
  packages/eslint-config/package.json
  packages/unravel/package.json
  pnpm-lock.yaml
Labels: atproto-browser

#231 Update to Next.js 15.3
  packages/frontpage/app/icon.svg
  packages/frontpage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: frontpage

#233 Update to swr stable
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

#234 Migrate to Eslint 9
  packages/atproto-browser/.eslintrc.js
  packages/atproto-browser/app/at/[identifier]/[collection]/[rkey]/page.tsx
  packages/atproto-browser/eslint.config.mjs
  packages/atproto-browser/package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/frontpage/.eslintrc.js
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
  packages/frontpage/app/api/receive_hook/handlers.ts
  packages/frontpage/eslint.config.mjs
  packages/frontpage/lib/components/ui/input.tsx
  packages/frontpage/lib/components/ui/textarea.tsx
  packages/frontpage/lib/components/ui/use-toast.ts
  packages/frontpage/lib/data/db/shared.ts
  packages/frontpage/lib/utils.ts
  packages/frontpage/package.json
  packages/frontpage/tailwind.config.ts
  packages/frontpage/tsconfig.json
  packages/unravel/.eslintrc.json
  packages/unravel/app/blog/[slug]/route.ts
  packages/unravel/app/page.tsx
  packages/unravel/eslint.config.mjs
  packages/unravel/package.json
  packages/unravel/tailwind.config.ts
  packages/unravel/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: atproto-browser, frontpage

#235 Update radix packages and next-themes
  packages/frontpage/lib/components/theme-provider.tsx
  packages/frontpage/package.json
  packages/unravel/app/_theme-provider.tsx
  packages/unravel/package.json
  pnpm-lock.yaml
Labels: frontpage

#199 Migrate frontpage post to be lexicon first
  packages/frontpage-atproto-client/.gitignore
  packages/frontpage-atproto-client/package.json
  packages/frontpage-atproto-client/src/index.ts
  packages/frontpage-atproto-client/src/lexicons.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/applyWrites.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/createRecord.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/defs.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/deleteRecord.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/describeRepo.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/getRecord.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/importRepo.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/listMissingBlobs.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/listRecords.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/putRecord.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/strongRef.ts
  packages/frontpage-atproto-client/src/types/com/atproto/repo/uploadBlob.ts
  packages/frontpage-atproto-client/src/types/fyi/unravel/frontpage/comment.ts
  packages/frontpage-atproto-client/src/types/fyi/unravel/frontpage/post.ts
  packages/frontpage-atproto-client/src/types/fyi/unravel/frontpage/vote.ts
  packages/frontpage-atproto-client/src/util.ts
  packages/frontpage-atproto-client/tsconfig.json
  packages/frontpage/README.md
  packages/frontpage/app/(app)/_components/post-card.tsx
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(app)/moderation/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/page.tsx
  packages/frontpage/app/api/receive_hook/handlers.ts
  packages/frontpage/app/api/receive_hook/route.ts
  packages/frontpage/lib/api/post.ts
  packages/frontpage/lib/api/vote.ts
  packages/frontpage/lib/auth.ts
  packages/frontpage/lib/data/atproto/comment.ts
  packages/frontpage/lib/data/atproto/event.ts
  packages/frontpage/lib/data/atproto/post.ts
  packages/frontpage/lib/data/atproto/repo.ts
  packages/frontpage/lib/data/atproto/vote.ts
  packages/frontpage/lib/data/db/shared.ts
  packages/frontpage/local-infra/README.md
  packages/frontpage/package.json
  pnpm-lock.yaml
  turbo.json
Labels: documentation, frontpage

#242 Refactor comments to be lexicon first
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(app)/moderation/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/actions.tsx
  packages/frontpage/app/api/receive_hook/handlers.ts
  packages/frontpage/app/api/receive_hook/route.ts
  packages/frontpage/lib/api/comment.ts
  packages/frontpage/lib/api/vote.ts
  packages/frontpage/lib/data/atproto/comment.ts
  packages/frontpage/lib/data/atproto/event.ts
  packages/frontpage/lib/data/atproto/vote.ts
  packages/frontpage/lib/data/db/shared.ts
Labels: frontpage

#243 Use timing attack safe comparisons when checking auth headers
  packages/frontpage/app/api/cron/oauth-cleanup/route.ts
  packages/frontpage/app/api/cron/rank-posts/route.ts
  packages/frontpage/app/api/receive_hook/route.ts
Labels: frontpage

#244 Use turbo package configurations
  packages/atproto-browser/turbo.json
  packages/frontpage/turbo.json
  turbo.json
Labels: atproto-browser, frontpage

#247 Bypass Vercel protection for auth in preview
  packages/frontpage/lib/auth.ts
  packages/frontpage/lib/data/db/report.ts
  packages/frontpage/lib/data/db/shared.ts
  packages/frontpage/turbo.json
Labels: frontpage

#251 Update packages
  package.json
  packages/atproto-browser/package.json
  packages/eslint-config/package.json
  packages/frontpage-atproto-client/package.json
  packages/frontpage-oauth-preview-client/package.json
  packages/frontpage-oauth/package.json
  packages/frontpage/lib/auth.ts
  packages/frontpage/package.json
  packages/unravel/package.json
  pnpm-lock.yaml
Labels: atproto-browser, frontpage
